container {
    color:  black;
    background-color: #dccea4;
    border: black;
    padding: 20px;
    font-size: 18px;
    
}

h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
    font-family: Vivaldi;
    padding-bottom: 20px;
    

}

.options{
    background-color: #dccea4;
}
displayQuestions {
    background-color: #dccea4;
}

h2, h3 {
    text-align: center;
    border: black;
    background: #eae1c2
}




body {
    background-image: url("../images/musicsheet.png");
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
    font-family: Vivaldi;
}
 




.btn { 
    font-family: Vivaldi;
    background-color: #eae1c2; 
    text-align: center;
    bottom: 10px;
    
}
